# Ignore temporary office lock files
#.~lock.*
#*.tmp

# Ignore specific folders or files you don't want uploaded
# folder-to-ignore/

#-----------------------------------------------------------


# Ignore all .locker files
*.locker

# Ignore all Excel spreadsheet files
*.xlsx

# Ignore all PDF files
*.pdf


